<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dynamic Scooters</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="bootstrap.min.css">
		<script src="bootstrap.min.js"text="text/javascript"></script>
	</head>

	<body>
		<div class="container-fluid">
			<div id="top">
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-sm-1 col-md-1 col-lg-2"></div>
					<div class="col-sm-10 col-md-9 col-lg-8">
						<img id="logo" src="../img/DynamicScootersLogo.png">
					</div>
					<div class="col-sm-1 col-md-2 col-lg-2"></div>
				</div>
			</div>
		</div>
		<div id="left-triangle">
			<img id="splatter1" src="../img/splatter1.png">
		</div>
		<div id="right-triangle">
			<img id="splatter2" src="../img/splatter2.png">
		</div>
		<div class="container-fluid">
			<div class="row" style="margin-left:0px;margin-right:0px;">
				<div class="col-md-12 col-sm-12">
					<h1 id="welcome">Welcome to the Dynamic Scooters online store!</h1>
				</div>
			</div>
			<div class="row" style="margin-left:0px;margin-right:0px;">
				<div class="col-md-12 col-sm-12">
					<p id="info">
						We are currently still in the process of getting the website dialed in. Below are all the companies that we stock and carry here at Dynamic Scooters. Feel free to call anytime during store hours (11am-6pm) for questions of availability on any of the products we carry. If you are a resident outside of Colorado and can't make it to the store front, we can still process Credit Card orders over the phone while the online store is getting finished. 
						<br>
						<br>
						Please don't hesitate to call or email us about any questions or concerns regarding scooters, the scene, or the industry! We are happy to help.
					</p>
				</div>
			</div>
			<div id="left-triangle2"></div>
			<div id="right-triangle2"></div>
			<div id="background">
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h1 class="up green center-text">Contact Information:</h2>
						<div class="row" style="margin-left:0px;margin-right:0px;">
							<!--
							<div class="col-md-6 col-sm-6 col-xs-6">
								<img id="ACpic" class="up" src="../img/me.jpg">
							</div>
							-->
							
							<h2 class="up white center-text">Austin Chipman</h3>
							<p class="up white center-text">303-248-6616</p>
							
							<p class="up white center-text">DynamicScooters@gmail.com</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h1 class="up green center-text">Location:</h2>
						<h2 class="up white center-text">Dynamic Scooters</h2>
						<p class="up white center-text">3224-D S. Wadsworth Blvd.</p>
						<p class="up white center-text">Lakewood, Colorado 80227</p>
					</div>
				</div>
				<div class="greenbar"></div>
			</div>
			<h1 id="companies" class="center-text">Companies We Carry</h1>
			<div id="background2">
				<div class="greenbar"></div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="titen" href="https://www.facebook.com/pages/Titen-Bearings/383460018367487">
							<img class="grid-left" src="../img/TitenLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="vex" href="http://vexbrand.com/">
							<img class="grid-left" src="../img/VexLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="elyts" href="http://www.elyts-shoes.com/">
							<img class="grid-left" src="../img/ElytsLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="percept" href=" http://percepteyewear.com/">
							<img class="grid-left" src="../img/PerceptLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="841" href="http://www.841wheels.com/">
							<img class="grid-left" src="../img/841Logo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="ao" href="http://www.aoscooters.com/">
							<img class="grid-left" src="../img/AOLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="boxes" href="http://www.boxesltd.com/">
							<img class="grid-left" src="../img/BoxesLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="ethic" href="http://ethicdtc.com/">
							<img class="grid-left" src="../img/EthicLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="raptor" href="http://www.raptor-hardware.com/">
							<img class="grid-left" src="../img/RaptorLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="tilt" href="http://tiltscooters.com/">
							<img class="grid-left" src="../img/TiltLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="tsi" href="http://www.tsiscooters.com/">
							<img class="grid-left" src="../img/TSILogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="aztek" href="http://aztekscooters.com/">
							<img class="grid-left" src="../img/AztekLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="urbanartt" href="http://www.urbanartt.com/">
							<img class="grid-left" src="../img/UrbanarttLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="proto" href="http://www.protoscooters.com/">
							<img class="grid-left" src="../img/ProtoLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="hellagrip" href="http://hellagrip.co/">
							<img class="grid-left" src="../img/HellagripLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="riverwheel" href="http://www.riverwheel.co/">
							<img class="grid-left" src="../img/RiverLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="lucky" href="http://www.luckyscooters.com/">
							<img class="grid-left" src="../img/LuckyLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="phoenix" href="http://www.phoenixproscooters.com/">
							<img class="grid-left" src="../img/PhoenixLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="grit" href="http://www.gritscootersusa.com/">
							<img class="grid-left" src="../img/GritLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="crisp" href="http://www.crispscootersusa.com/">
							<img class="grid-left" src="../img/CrispLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="rogue" href="http://roguewheelco.com/">
							<img class="grid-left" src="../img/RogueLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="flik" href="http://flikgriptape.com/">
							<img class="grid-left" src="../img/FlikLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="envy" href="http://www.bluntandenvy.com/">
							<img class="grid-left" src="../img/EnvyLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="fasen" href="http://www.fasenscooters.com/">
							<img class="grid-left" src="../img/FasenLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="triple8" href="http://triple8.com/">
							<img class="grid-left" src="../img/Triple8Logo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="downside" href="http://www.downsidescooters.net/">
							<img class="grid-left" src="../img/DownsideLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="elite" href="https://www.facebook.com/EliteProScooters">
							<img class="grid-left" src="../img/EliteLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="revolution" href="https://www.facebook.com/RevolutionSupplyCo">
							<img class="grid-left" src="../img/RevolutionLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="satori" href="http://www.thesatoriapparel.com/">
							<img class="grid-left" src="../img/SatoriLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="supremacy" href="http://square-pics.com/supremacyscooters">
							<img class="grid-left" src="../img/SupremacyLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="district" href="http://www.districtscoot.com/">
							<img class="grid-left" src="../img/DistrictLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="addict" href="http://www.addictscootering.com/">
							<img class="grid-left" src="../img/AddictLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="eagle" href="http://www.eaglescootersupply.com/">
							<img class="grid-left" src="../img/EagleLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="protec" href="http://www.shopprotec.com/">
							<img class="grid-left" src="../img/ProtecLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="sacrifice" href="http://www.sacrificescooters.com/">
							<img class="grid-left" src="../img/SacrificeLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="razor" href="http://www.razor.com/">
							<img class="grid-left" src="../img/RazorLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="odi" href="http://odigrips.com/">
							<img class="grid-left" src="../img/ODILogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="epic" href="http://www.epicscooters.com/">
							<img class="grid-left" src="../img/EpicLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="mgp" href="http://www.maddgear.com/">
							<img class="grid-left" src="../img/MGPLogo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="5starr" href="http://www.5starrscooters.com/">
							<img class="grid-left" src="../img/5starrLogo.jpg">
						</a>
					</div>
				</div>
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="goped" href="http://goped.com/">
							<img class="grid-left" src="../img/GopedLogo.jpg">
						</a>
					</div>
				</div>
				<!-- Template for company row
				<div class="row" style="margin-left:0px;margin-right:0px;">
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="" href="">
							<img class="grid-left" src="../img/Logo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="" href="">
							<img class="grid-left" src="../img/Logo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="" href="">
							<img class="grid-left" src="../img/Logo.jpg">
						</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12 center-text">
						<a id="" href="">
							<img class="grid-left" src="../img/Logo.jpg">
						</a>
					</div>
				</div>
				-->
			</div>
		</div>

	</body>
</html>